.font500 {
  font-weight: 500;
}

.font400 {
  font-weight: 400;
}

.font300 {
  font-weight: 300;
}

.font200 {
  font-weight: 200;
}

.font100 {
  font-weight: 100;
}

.font-bold {
  font-weight: bold;
}

.font80 {
  font-size: 80rpx;
}

.font60 {
  font-size: 60rpx;
}

.font48 {
  font-size: 48rpx;
}

.font40 {
  font-size: 40rpx;
}

.font38 {
  font-size: 38rpx;
}

.font36 {
  font-size: 36rpx;
}

.font34 {
  font-size: 34rpx;
}

.font32 {
  font-size: 32rpx;
}

.font30 {
  font-size: 30rpx;
}

.font28 {
  font-size: 28rpx;
}

.font24 {
  font-size: 24rpx;
}

.font26 {
  font-size: 26rpx;
}

.font22 {
  font-size: 22rpx;
}

.font20 {
  font-size: 20rpx;
}

.font18 {
  font-size: 18rpx;
}

.font17 {
  font-size: 17rpx;
}

.font16 {
  font-size: 16rpx;
}

.font15 {
  font-size: 15rpx;
}

.font14 {
  font-size: 14rpx;
}

.font13 {
  font-size: 13rpx;
}

.font12 {
  font-size: 12rpx;
}

.font11 {
  font-size: 11rpx;
}

.font10 {
  font-size: 10rpx;
}
